/*------------ Universal Styles ------------*/
* {
    font-family: Helvetica;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
    text-align: center;
    padding-top: 60px;
}

/*------------ Header Styles ------------*/
header,
section {
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s;
}

/*------------ Nav Bar Container ------------*/
nav {
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 65%;
    padding: 5px 15px;
    background-color: rgba(200, 200, 200, 0.95);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

nav>div {
    display: flex;
    justify-content: space-between;
}

nav h4,
nav a {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #646161;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover,
nav h4:hover {
    color: #000000;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}

/*------------ Particles Container ------------*/
@keyframes changeBackgroundColor {
    0% {
        background-color: #121826;
    }

    25% {
        background-color: #FF4500;
    }

    50% {
        background-color: #47d247;
    }

    75% {
        background-color: #e590e5;
    }

    100% {
        background-color: #4682B4;
    }
}

#particles-js {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    animation: changeBackgroundColor 20s infinite;
}

/*------------ Picture Container ------------*/


.picture-container {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 2;
}


.picture-container img {
    width: 100%;
    height: auto;
}

/*------------ Introduction Container ------------*/
.intro-text {
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    color: #fff;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    padding: 25px;
    z-index: 2;
}

/*------------ Content Styles ------------*/
#projects {
    background-color: #d5d5d5;
}

#skills {
    background-color: #bbb;
}

#experience {
    background-color: #a5a5a5;
}

#education {
    background-color: #8a8a8a;
}

#contact {
    background-color: #6a6a6a;
}